<!DOCTYPE html>
<html>

<head>
  <title>Quizlet API</title>
  <link rel='stylesheet' , href='/stylesheets/style.css'>
</head>

<body>
  <form method="post">
    title:
    <input name="title">
    <input type="submit" value="Search">
  </form>
  {{{body}}}
</body>

</html>